# Byte-compiled / optimized / DLL files\
test.py
.idea
__pycache__/
*.py[cod]
*$py.class

**/.ok_*
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually you should not need to ignore these files,
# but if you do, you can use the below lines.
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyd
*.pyo
*.pyw

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environments
venv/
env/
exitstatus